body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;

}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: black;
}

nav .nav-right-section .menu-icon {
    background-image: url(https://static.thenounproject.com/png/756729-200.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    text-align: center;
    padding: 14%;
}

main .main-logo {
    padding-top: 1%;
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;

}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #e1e2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}


main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;

}

main .main-input .search-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 18px;

}

main .main-input .micro-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5px;
    height: 1px;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(179, 177, 177);
    cursor: pointer;
    padding: 15px;

}

a{
    padding: 9px;
    color: black;
}

.main-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.main-buttons button{
    display: flex;
    border-radius: 5px;
}
