@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 25px;
  padding: 0%;
  text-align: left;
}

body{
  background-color:#1CB698 ;
  text-align: justify;
}


.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  position: relative;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo a {
  display: flex;
  justify-content: flex-start;
  font-family: 'Righteous';
  font-size: 36px;
  color: #1CB698;
}


.column-uno{

  width: 1800px;
  height: 200px;
  background-color: #99c354;
  position: relative;
  left: 600px;

}

#filas{
  column-count:3;
  column-gap:20px;
  column-rule:4px;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #000;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: rgb(0, 209, 45);
}

.imagen {
  width: 100%;
  height: 400px;
  margin-top: auto;
  object-fit: cover;
  object-position: bottom;
  background-color: #99c354;
}

section {
  padding: 0px;
  background-color: #ffffff;
}

section h5 {
  font-size: 24px;
  color: #333;
}

section p {
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
}

section ol {
  margin-left: 30px;
}

section ol li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

section ol li b {
  font-weight: bold;
  color: #333;
}

section p b {
  font-weight: bold;
  color: #333;
}

main span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23 px;
  background: #99c354;
  height: 64px;
  width: 64px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 999px;
}
.lista-cuida2{
  display: flex;
  align-items: center;
}

.lista-cuida2 span{
  flex-basis: 6%;
}

.lista-cuida2 div{
  margin: 0 70px;
}

.menus{
  display: flex;
  width: 902px;
  height: 153px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

main h3{
  font-size: 2rem;
}

main div{
  padding: 1px;
}

.pag{
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.pacto1{
  color:black;
  padding:20px;
  
}

.pacto {
  width: 322px;
  height: 154px;
  flex-grow: 0;
  text-align: center;
}


.mejora{
  display: grid;
  grid-template-columns: auto auto;

}

.mejora{
  background: #336018;
  text-align: left;
  color: white;
}


.imagenes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 100px);
  gap: 18px;

}
.imagenes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#uno{
  grid-column: 1 /2;
  grid-row: 1 / 3;
}

#dos{
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  
}

#tres{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#cuatro{
  grid-column: 3 / 4 ;
  grid-row: 2 / 5 ;
  
  
}

#cinco{
  grid-column: 2 / 4;
  grid-row: 5 / 7;
  
}

#seis{
  grid-column: 1 / 2;
  grid-row: 3 / 7;
}


/*SIDE BAR*/


.navv{
  display: flex;
  width: 220px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  color: #000;  
}

.nav__link{
  color: #000000;
  display: block;
  padding: 15px 0;
  font-size: 17px;
  
  text-decoration: none;
}

.nav__link--inside{
  border-radius: 6px ;
  padding-left: 20px;
  text-align: left;
}

.nav__link--inside:hover{
  background: #F6F8FA;
}

.list{
  width: 200%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  
}

.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click{
  cursor: pointer;
}

.list__button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 1000%;
  margin: 0 auto;
}

.arrow .list__arrow{
  transform: rotate(90deg);
}

.list__arrow{
  margin-left: auto;
  transition: transform .3s;
}

.list__show{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}

main{
align-items: left;

}

.contac-form-section{
  padding: 20xp;
  width: 40%;
  background-color: #1CB698;
  min-height: 300px;
  display: flex;
  justify-content: center;
  
  
}

.contac-form-section form{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  
}

.contac-form-section form label{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contac-form-section form label input {
  padding: 8px;
  border-radius: 9px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 25);
}


button{
  padding: 7px;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 25);
  background-color: goldenrod;
}

.invitacion{
  margin: 0 10%;
  display: flex;
  height: 650px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
  
}

.empecem{
color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #233800;
padding: 23px;
border-radius: 0 8px 8px 0;

}


.empecem2{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 23px;
}

.empecem2 input {
  padding: 7px;
  border-radius: 7px;
  border: 1px solid transparent;
  margin-bottom: 16px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 25);
}

.empecem2 form laber{
display: flex;
flex-direction: column;
}



@media (max-width:768px) {

 
}
/* smartphones, iPhone, portrait 480x320 phones */

