body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(92, 95, 95);
    background-image: url(../images/pokemon_1.webp);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.bg-dager{
    background-color: #ff0000;
}

#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: #f50a0a63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin: 2px;
    border: 3px solid #28f1f8;
    border-radius: 97px 22px 96px 26px;
    -webkit-border-radius: 97px 22px 96px 26px;
    -moz-border-radius: 97px 22px 96px 26px;
    box-shadow: 43px 39px 64px 14px rgba(0,0,0,0.72);
    -webkit-box-shadow: 43px 39px 64px 14px rgba(0,0,0,0.72);
    -moz-box-shadow: 43px 39px 64px 14px rgba(0,0,0,0.72);
    color: #fff;
}

.card-image {
    height: 100px;
    width: 100px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 0;
    background-image: linear-gradient(
        155deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 30px;
    padding: 1px;
    cursor: pointer;
    transition: .3s;
}

button {
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 100;
}

button span{
    background-color: #000000;
    padding: 13px 40px;
    border-radius: 10px;
    transition: .3s;
    width: 100%;
    
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.91);
}